<h1>Your Sources:</h1>
<% if @sources.count > 0 %>
  <% @sources.each do |source|%>
  <ul>
    <li><%= link_to "#{source}", source_path(source) %></li>
  </ul>
  <% end %>
<% else %>
  <p>No sources</p>
<% end %>
