<!-- Button trigger modal -->
<button type="button" class="modal-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Schedule for Posting
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Schedule post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Schedule your post for the times when your audience is most active, or manually select a date and time in the future to publish your post.</p>
        <%= simple_form_for([output, schedule], data: { controller: 'flatpickr' }) do |f| %>
          <%= f.input :publish_time,
                placeholder: Date.today.to_s,
                as: :string,
                input_html: {
                  value: Date.today,
                  data: {
                    controller: "datepicker"
                    # booking_price_target: 'start_date',
                    # action: 'change->booking-price#update'
                  },
                  style: "background-color: transparent; border: none; text-align: center; color: #F4C644;",
                  min: Date.today
                },
                wrapper_html: {
                  # class: 'mb-0 pb-3 border-end',
                  style: 'margin-bottom: 0 !important'
                } %>
          <%= f.submit 'Save', class: 'modal-btn col-3 justify-content-center' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
