<div class="container">
  <%= month_calendar(events: @schedules, attribute: :publish_time) do |date, schedules| %>
    <%= date %>
    <% schedules.each do |schedule| %>
      <div class='schedule'>
        <i class="fa-brands fa-tiktok"></i>
        <strong><%= truncate(schedule.output.suggested_title.gsub('"',''), length: 24) %></strong>
      </div>
    <% end %>
  <% end %>
</div>
