<div class="footer mt-4">
  <div class="footer-links">
    <a href="https://github.com/dev-stan/shortify"><i class="fab fa-github"></i></a>
    <a href="https://www.tiktok.com/@shortify_it"><i class="fa-brands fa-tiktok"></i></a>
  </div>
  <div class="footer-copyright">
    <%= link_to "Terms of Service", "/tos", class: "footer-btn" %>
    <%= link_to "Privacy Policy", "/privacy", class: "footer-btn" %>
  </div>
</div>
