<div class="preview_card">
  <div id="image-container">
    <%= video_tag video_source, size: "1080x1920", controls: false, autoplay: false, muted: true %>
    <div id="text-overlay w-100" data-overlay-target="text">
      Example Text
    </div>
  </div>
</div>
