<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
<p>Get Started by adding a source video:</p>
<%= link_to "Create new Video", sources_path %>
<% else %>
<p>Sign up and get started!</p>
<% end %>
