<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
<p>Get Started by adding a source video:</p>
<%= simple_form_for @source do |f| %>
  <%= f.input :url, placeholder:"Type your Youtube URL here" %>
  <%= f.submit %>
<% end %>


<% else %>
<p>Sign up and get started!</p>
<% end %>
