body {
  background: #020617;
  h1 {
    color: white;
    font-weight: 700;
    font-size: 60px;
  }
  h2 {
    color: rgba(255, 255, 255, 0.71);
    font-size: 18px;
  }

  p {
    color: white;
  }


  .accent {
    color: #6D4DFF
  }
}
