body {
  background: #060508;
  color: #E4E1CD;
  h1 {
    color: #E4E1CD;
    font-weight: 700;
    font-size: 60px;
  }
  h2 {
    color: #E4E1CD;;
    font-size: 18px;
  }

  p {
    color: #E4E1CD;
  }


  .accent {
    color: #F4C644
  }
}
