.simple-calendar {
  table {
    min-height: 80vh;
    background-color: white;
  }
  .today {
    background-color: #E4E1CD;
  }
  .table-striped {
    background-color: white;
  }
}

.calendar-title {
  color:#F4C644;
  font-weight: bold;
}
