.navbar-lewagon {
  justify-content: space-between;
  background: #7a7f94;

  .button {
    width: 10%;
    height: 40px;
    border-radius: 12px;
    background: white!important;
    color: #6D4DFF;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    margin: 5px;
    transition: all 1500ms ease;
  }

  .button:hover {
    box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.6);
  }
  a {
    color: white;
    font-weight: 500;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
