.navbar-lewagon {
  justify-content: space-between;
  background: #020617;
  color: #6D4DFF;
  font-weight: 300;

  a {
    font-weight: 600;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
