.next-button {
  font-weight: 600;
  width: 10%;
  height: 40px;
  border-radius: 30px;
  background: black;
  color: #F4C644;
  padding: 20px 50px 20px 50px;
  text-decoration: none;
  margin: 5px;
  border: solid #F4C644 1px;
  text-align: center;
  // transition: all 2500ms ease; /* Apply transition to the main button state */
}
