.next-button {
  border: none;
  font-weight: 600;
  width: 30%;
  height: 40px;
  border-radius: 30px;
  background: #F4C644;
  color: #131213;
  text-decoration: none;
  text-align: center;
  transition: all 2500ms ease; /* Apply transition to the main button state */
}

.next-button:hover {
  transform: scale(1.1);
}
