.preview_card {
  transition: all 1500ms ease; /* Apply transition to the main button state */

  .card {
    overflow: hidden;
    border-radius: 16px;
  }

  video {
    width: 200px; /* Ensure the video fills the width of its container */
    height: 360px; /* Calculate height based on 9:16 aspect ratio */
    object-fit: cover;
    border-radius: 16px;
  }
  #image-container {
    position: relative;
    width: fit-content;
  }

  #text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    padding: 10px;
  }
}
