.reddit-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 3px solid white;
  text-align: center;
  padding: 20px;
  background: #131213;
  border-radius: 24px;
  font-weight: 500;
}


.r-tag-selector {
  position: absolute;
  transform: scale(0);
}

.r-tag-selector + label {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
  background-color: #131213;
  color: white;
  border: 3px solid white;
  width: 200px;
  height: 200px;
}

.r-tag-selector:checked + label {
  border: 3px solid #7E73FF;
  color: white;
}
