.settings-box {
  gap: 10px;
  border: 2px solid white;
  border-radius: 16px;
  padding: 24px;
}

.text-input {
  border: 0px solid #6B6B6B;
  border-radius: 16px;
  background: #050c2c;
  resize: none;
  color: #F9F6E0;

  &:focus {
    border: 0px solid #6B6B6B;
    border-radius: 16px;
    background: #050c2c;
    resize: none;
    color: #F9F6E0;
  }
}

.choice-input {
  border: 0px solid #6B6B6B;
  border-radius: 16px;
  background: #F9F6E0;
}

.label-text {
  color: #F9F6E0;
  font-size: 14px;
  font-weight: 600;
}
