.tag-item {
  display: inline-block;
}


.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  margin-right: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 24px;
  background-color: #E4E1CD;
  color: #131213;
  border: 1px solid #131213;;
  height: 40px;
  transition: all 1500ms ease; /* Apply transition to the main button state */
}

.tag-selector:checked + label {
  background-color: #F4C644;
  color: #131213;
}
