.source_card {
  position: relative;

  video {
    width: 200px; /* Ensure the video fills the width of its container */
    height: 360px; /* Calculate height based on 9:16 aspect ratio */
    border-radius: 6px;
    object-fit: cover;

  }

  .card {
    overflow: hidden;
    border-radius: 16px;
  }
}
