.source_card {
  position: relative;

  video {
    width: 150px; /* Ensure the video fills the width of its container */
    height: auto; /* Calculate height based on 9:16 aspect ratio */
    border-radius: 6px;
    object-fit: cover;

  }

  .card {
    overflow: hidden;
    border-radius: 16px;
  }
  :hover {
    transform: scale(1.1);
  }
}
