.source_card {
  position: relative;

  video {
    width: 150px; /* Ensure the video fills the width of its container */
    height: auto; /* Calculate height based on 9:16 aspect ratio */
    border-radius: 6px;
    object-fit: cover;
  }

  .card {
    overflow: hidden;
    border-radius: 16px;
  }
  :hover {
    transform: scale(1.1);
    transition-duration: 100ms;
  }

}

.category-selector:checked + label {
  border-radius: 24px;
  video{
    border: 2px solid #F4C644;
    transform: scale(1.1);
  }
}

.choice-input option{
  :hover{
  box-shadow: 0 0 10px 100px #F4C644;
  }
}
