<div class="examples_card">
  <%= cl_video_tag source, height: 1080, width: 1920, controls: false, autoplay: true, muted: true %>
  <%= link_to 'Youtube', '#', class: 'btn btn-primary' %>
  <%= link_to 'Youtube', '#', class: 'btn btn-primary' %>
</div>
