<div class="d-flex justify-content-center">
  <div class="output_card">
    <%= video_tag source, height: 1080, width: 1920, controls: true, autoplay: true, muted: true, loop: true %>
  </div>
</div>
