<h1>Your Videos:</h1>
<div class="container d-flex mb-6" data-controller="video">
  <div class="row">
    <% @outputs.each do |output|%>
      <div class="col-3">
        <%= link_to output_path(output) do %> <%= render 'output_card', output: output %> <% end %>
      </div>
    <% end %>
  </div>
</div>
